Repository Tqs-project/We_Deliver-Backend, pull requests merged in 2021-06, with the labels that each got.

#2 178339592 feature backend db
  .github/workflows/build.yml
  model.png
  model.uml
  webmarket/lombok.config
  webmarket/pom.xml
  webmarket/src/main/java/deti/tqs/webmarket/model/Comment.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Customer.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Order.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Ride.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Rider.java
  webmarket/src/main/java/deti/tqs/webmarket/model/User.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/CommentRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/CustomerRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/OrderRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/RideRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/RiderRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/UserRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/util/Utils.java
  webmarket/src/main/resources/application.properties
  webmarket/src/test/java/deti/tqs/webmarket/repository/CommentRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/repository/OrderRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/repository/RideRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/repository/RiderRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/repository/UserRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/util/UtilsTest.java
Labels: Test, enhancement

#5 178386752 feature rider reg login
  webmarket/pom.xml
  webmarket/src/main/java/deti/tqs/webmarket/controller/RiderController.java
  webmarket/src/main/java/deti/tqs/webmarket/dto/RiderDto.java
  webmarket/src/main/java/deti/tqs/webmarket/dto/UserDto.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Rider.java
  webmarket/src/main/java/deti/tqs/webmarket/model/User.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/RiderRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/service/RiderService.java
  webmarket/src/main/java/deti/tqs/webmarket/service/RiderServiceImp.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderController_RestTemplateIT.java
Labels: Test, enhancement

#6 178386847 feature put order delivered state
  .github/workflows/build-cd.yaml
  .github/workflows/build-ci.yml
  webmarket/pom.xml
  webmarket/src/main/java/deti/tqs/webmarket/controller/RiderController.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Comment.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Customer.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Order.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Ride.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Rider.java
  webmarket/src/main/java/deti/tqs/webmarket/model/User.java
  webmarket/src/main/java/deti/tqs/webmarket/service/CustomerServiceImp.java
  webmarket/src/main/java/deti/tqs/webmarket/service/RiderService.java
  webmarket/src/main/java/deti/tqs/webmarket/service/RiderServiceImp.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/CustomerController_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderControllerTest_WithMockServiceIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderController_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/service/CustomerServiceImpTest.java
  webmarket/src/test/java/deti/tqs/webmarket/service/RiderServiceImpTest.java
  webmarket/src/test/resources/application-integrationtest.properties
Labels: Test, enhancement

#8 178386752 feature rider reg tests
  webmarket/src/main/java/deti/tqs/webmarket/service/RiderServiceImp.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderControllerTest_WithMockServiceIT.java
  webmarket/src/test/java/deti/tqs/webmarket/service/RiderServiceImpTest.java
Labels: Test

#9 178446014 feature attribute order2rider
  webmarket/src/main/java/deti/tqs/webmarket/cache/OrdersCache.java
  webmarket/src/main/java/deti/tqs/webmarket/controller/CustomerController.java
  webmarket/src/main/java/deti/tqs/webmarket/controller/OrderController.java
  webmarket/src/main/java/deti/tqs/webmarket/controller/RiderController.java
  webmarket/src/main/java/deti/tqs/webmarket/dto/OrderCreateDto.java
  webmarket/src/main/java/deti/tqs/webmarket/dto/OrderDto.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Customer.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Order.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Ride.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/CustomerRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/UserRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/service/CustomerServiceImp.java
  webmarket/src/main/java/deti/tqs/webmarket/service/OrderService.java
  webmarket/src/main/java/deti/tqs/webmarket/service/OrderServiceImp.java
  webmarket/src/main/java/deti/tqs/webmarket/service/RiderService.java
  webmarket/src/main/java/deti/tqs/webmarket/service/RiderServiceImp.java
  webmarket/src/main/java/deti/tqs/webmarket/util/Utils.java
  webmarket/src/test/java/deti/tqs/webmarket/cache/OrdersCacheTest.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderControllerTest_WithMockServiceIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderController_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/repository/OrderRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/repository/RideRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/repository/UserRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/service/OrderServiceImpTest.java
  webmarket/src/test/java/deti/tqs/webmarket/service/RiderServiceImpTest.java
  webmarket/src/test/java/deti/tqs/webmarket/util/UtilsTest.java
Labels: enhancement

#10 178562806 feature customer check order status
  webmarket/pom.xml
  webmarket/src/main/java/deti/tqs/webmarket/cache/OrdersCache.java
  webmarket/src/main/java/deti/tqs/webmarket/controller/AdminController.java
  webmarket/src/main/java/deti/tqs/webmarket/controller/CustomerController.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Customer.java
  webmarket/src/main/java/deti/tqs/webmarket/model/User.java
  webmarket/src/main/java/deti/tqs/webmarket/repository/OrderRepository.java
  webmarket/src/main/java/deti/tqs/webmarket/service/AdminService.java
  webmarket/src/main/java/deti/tqs/webmarket/service/AdminServiceImp.java
  webmarket/src/main/java/deti/tqs/webmarket/service/CustomerService.java
  webmarket/src/main/java/deti/tqs/webmarket/service/CustomerServiceImp.java
  webmarket/src/main/java/deti/tqs/webmarket/service/RiderServiceImp.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/CustomerController_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderControllerParallerConf_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderController_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/repository/OrderRepositoryTest.java
  webmarket/src/test/java/deti/tqs/webmarket/service/CustomerServiceImpTest.java
Labels: Test, enhancement

#11 178386924 feature api2calculate distances
  webmarket/pom.xml
  webmarket/src/main/java/deti/tqs/webmarket/api/DistanceAPI.java
  webmarket/src/main/java/deti/tqs/webmarket/cache/OrdersCache.java
  webmarket/src/main/java/deti/tqs/webmarket/controller/CustomerController.java
  webmarket/src/main/java/deti/tqs/webmarket/dto/PriceEstimationDto.java
  webmarket/src/main/java/deti/tqs/webmarket/model/Ride.java
  webmarket/src/main/java/deti/tqs/webmarket/model/User.java
  webmarket/src/main/java/deti/tqs/webmarket/service/CustomerService.java
  webmarket/src/main/java/deti/tqs/webmarket/service/CustomerServiceImp.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/CustomerController_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/RiderControllerParallerConf_RestTemplateIT.java
Labels: enhancement

#12 178594910 feature admin check stats
  webmarket/src/main/java/deti/tqs/webmarket/controller/AdminController.java
  webmarket/src/main/java/deti/tqs/webmarket/controller/CustomerController.java
  webmarket/src/main/java/deti/tqs/webmarket/dto/CustomerDto.java
  webmarket/src/main/java/deti/tqs/webmarket/dto/RiderFullInfoDto.java
  webmarket/src/main/java/deti/tqs/webmarket/model/User.java
  webmarket/src/main/java/deti/tqs/webmarket/service/AdminService.java
  webmarket/src/main/java/deti/tqs/webmarket/service/AdminServiceImp.java
  webmarket/src/main/java/deti/tqs/webmarket/service/LoginService.java
  webmarket/src/main/java/deti/tqs/webmarket/util/Utils.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/AdminControllerParalellConf_RestTempIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/AdminController_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/CustomerController_WithMockServiceIT.java
  webmarket/src/test/java/deti/tqs/webmarket/service/CustomerServiceImpTest.java
  webmarket/src/test/java/deti/tqs/webmarket/service/LoginServiceTest.java
  webmarket/src/test/java/deti/tqs/webmarket/service/OrderServiceImpTest.java
Labels: enhancement

#13 #178619339-bug-customers_shouldnt_control_the_cost
  webmarket/src/main/java/deti/tqs/webmarket/controller/OrderController.java
  webmarket/src/main/java/deti/tqs/webmarket/service/CustomerServiceImp.java
  webmarket/src/main/java/deti/tqs/webmarket/service/OrderServiceImp.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/AdminControllerParalellConf_RestTempIT.java
  webmarket/src/test/java/deti/tqs/webmarket/controller/CustomerController_RestTemplateIT.java
  webmarket/src/test/java/deti/tqs/webmarket/service/OrderServiceImpTest.java
Labels: bug
